
<!-- Responsive navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><h2>Wuxia Island</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="#">Cadastro</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        REQUEST USER
                    </a>
                    <ul class="dropdown-menu dropdown-menu-black" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-user"></i>Meus dados
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-lock" aria-hidden="true"></i>Alterar senha
                            </a>
                        </li>
                        <li class="divider"><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>Sair
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
